
.heroTitle {
    color: var(--Primary-Red);

    
    font-family: Inter;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 530;
    line-height: 2.25rem; /* 100% */
    letter-spacing: -0.0675rem;
    text-transform: uppercase;
    
}

.heroTitle span {

    display: block;
    
}

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    
    background: var(--Background-Light, #FFF);
    padding: 2rem 1.5rem;
}

.heroImage {
width: 100%;
height: 10rem;
aspect-ratio: 358/149;
border-radius: var(--16, 1rem);
background: var(--background-MediumLight);
margin-top: 0.5rem;
}

.infoTextContainer {

display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}

.infoText {

    display: flex;
    width: 11.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.text {
    color: var(--Typography-Primary, #121212);
    /* Mobil/Body/Regular */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 125% */
}

.textRight {
    /* Specifika stilar för höger text (brödtexten) */
    width: 60%;
    /* Andra specifika stilar för brödtexten */
}

.textBold {
    font-weight: bold;
  }

.companiesText {
    color: var(--Typography-Primary, #121212);
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 200;
line-height: 2rem; /* 100% */
letter-spacing: -0.06rem;
text-transform: uppercase;
}

.attendingCompanies {
color: var(--Typography-Primary, #121212);

font-size: 2rem;
font-style: normal;
font-weight: 530;
line-height: 2rem; /* 100% */
letter-spacing: -0.06rem;
text-transform: uppercase;
margin-top: 0.5rem;
}

.aboutEventContainer {

display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
margin-top: 0.5rem;
}

@media (min-width: 768px) {

    .heroImage {

        height: 35.9375rem;
    }

    .heroTitle {

        font-size: 6.875rem;
        line-height: 7.5rem;
    }

    .companiesText {

        font-size: 6rem;
        line-height: 6rem;
        margin-bottom: 8.75rem;
    }

    .infoTextContainer {
        justify-content: flex-start; 
        justify-content: flex-end;
    }

    .text {
        font-size: 1.625rem;
        line-height: 2.25rem;
    }

    .textRight {

        width: 72%;
    }

    .heroTitle {

        display: flex;
        flex-wrap: wrap;
        
    }

    .heroTitle span:nth-child(1) {
        margin-right: 0.3em; /* Lite mellanrum efter "Välkommen på" */
      }
      
      .heroTitle span:nth-child(2) {
        margin-right: 0.3em; /* Lite mellanrum efter "mingel" */
      }

      .infoText {
        display: flex;
        flex-direction: row;
        width: 30rem; 
        gap: 2rem;
        margin-right: 2rem;
      }

      .heroSection {


        margin-top: 3rem;
      }
}