.companiesListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
.companiesTitle {

    color: var(--Primary-Red_2017, #E51336);
  /* Mobil/H2/Bold */
  font-family: Inter;
  font-size: 2rem;
  font-style: italic;
  font-weight: 530;
  line-height: 2rem; /* 100% */
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}