.componentContainer {
    padding: 2rem 1rem;
    background: var(--Primary-Grey, #E4E9EB);
    
}

.companyContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    
}

.returnButton {

    margin-left: auto;
}

.profileHeader {

    background-color: var(--Primary-Red);
    border-radius: 0.75rem;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.headerInfo {

    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;

}

.jobTypes {
    display: flex;
    gap: 0.3rem;
}

.profileBio {
   
    display:flex;
    flex-direction: column;
    background-color: var(--Background-Dark);
    width: 100%;
    padding: 1.5rem 1rem;
    align-items: flex-start;
    border-radius: 0.75rem;
    gap: 1rem;
    
    
}

.profileCity {
    background-color: var(--Primary-Red);
    border-radius: 0.75rem;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.profileCity h2 {
color: var(--Typography-Secondary, #FFF);
/* Mobil/H2/Bold */
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 530;
line-height: 2rem; /* 100% */
letter-spacing: -0.06rem;
text-transform: uppercase;
}

.profileCity h3 {

color: var(--Typography-Secondary, #FFF);
/* Mobil/H3/Slanted */
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 530;
line-height: 1.5rem; /* 120% */
}

.profilePerks {
    border-radius: 0.75rem;
    background: var(--Background-Light, #FFF);
    color: var(--Typography-Primary);
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.profileBio {
    max-width: 28rem;
    /* min-height: 11rem; */
}

.cardContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1rem;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.links {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.buttonContent{

    display: flex;
    gap: 0.3rem;
}

.benefitsList {

margin-top: 0.5rem;
display: flex;
gap: 0.3rem;
color: var(--Typography-Secondary);

}

.componentContainer {
    padding: 2rem 1rem;
    background: var(--Primary-Grey, #E4E9EB);
}

.companyContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.profileHeader {

    background-color: var(--Primary-Red);
    border-radius: 0.75rem;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.headerInfo {

    display: flex;
    gap: 0.3rem;

}

.jobTypes {
    display: flex;
    gap: 0.3rem;
}

.profileBio {
   
    display:flex;
    flex-direction: column;
    background-color: var(--Background-Dark);
    width: 100%;
    padding: 1.5rem 1rem;
    align-items: flex-start;
    border-radius: 0.75rem;
    gap: 1rem;
    
    
}

.profileCity {
    background-color: var(--Primary-Red);
    border-radius: 0.75rem;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.profileCity h2 {
color: var(--Typography-Secondary, #FFF);
/* Mobil/H2/Bold */
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 530;
line-height: 2rem; /* 100% */
letter-spacing: -0.06rem;
text-transform: uppercase;
}

.profileCity h3 {

color: var(--Typography-Secondary, #FFF);
/* Mobil/H3/Slanted */
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 530;
line-height: 1.5rem; /* 120% */
}

.profilePerks {
    border-radius: 0.75rem;
    background: var(--Background-Light, #FFF);
    color: var(--Typography-Primary);
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.profileBio {
    max-width: 28rem;
    min-height: 11rem;
}

.cardContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1rem;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.links {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.benefitsList {

margin-top: 0.5rem;
display: flex;
gap: 0.3rem;
color: var(--Typography-Secondary);

}

.buttonContent {
    display: flex;
    align-items: center
}

@media screen and (min-width: 768px) {
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        grid-template-areas: 
          "header city"
          "bio perks";
        align-items: end;
        align-content: space-between;
        
      }
      
      .profileHeader {
        grid-area: header;
      }
      
      .profileBio {
        grid-area: bio;
      }
      
      .profileCity {
        grid-area: city;
      }
      
      .profilePerks {
        grid-area: perks;
      }

   

}