/* Section.css */
.section {
    display: flex;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    background-color: var(--background-MediumLight);
    margin-bottom: 1rem;
    width: 100%;
  }
  


