.editCompanyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 51.25rem;
}

.label {
    width: 100%;
    color: var(--Typography-Primary);
}

.nameField, .mailField {
    width: 100%;
    border: none;
}

.cityField {
    width: 100%;
    border: none;
    display: flex;
}

.inputButtonBlack {
    background-color: var(--Typography-Primary);
    border-radius: 0 0.25rem 0.25rem 0;
    display: flex;
    height: 3.125rem;
    padding: 0.875rem 0.75rem;
    width: 9rem;
    align-items: center;
    gap: 0.5rem;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1.375rem;
}

.cityContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -1rem;
}

.checkboxField {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 0.25rem;
}

.checkboxChoice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--Greyscale-10);
    color: var(--Typography-Primary);
}

.checkbox {
    align-self: end;
}

.linkField {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 1rem;
    border: none;
}
