.editStudentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--Background-Light);
    border-radius: 1rem;
    margin: 2rem;
    padding: 3rem 1.5rem;
}

.nameField {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: none;
}


.educationField {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 0.25rem;
}


.educationChoice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--Greyscale-10);
    color: var(--Typography-Primary);
}

.educationCheckbox {
    align-self: end;
}


.linkField {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    gap: 1rem;
}


.label {
    color: var(--Typography-Primary);
}