.companiesListContainer {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    gap: 20px;
    /* width: 100%; */
  }
.companiesTitle {

    color: var(--Primary-Red_2017, #E51336);

  font-family: Inter;
  font-size: 2rem;
  font-style: italic;
  font-weight: 530;
  line-height: 2rem; 
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  
  .companiesTitle {

    color: var(--Primary-Red_2017, #E51336);

 
  font-size: 6.875rem;
  font-style: italic;
  font-weight: 530;
  line-height: 7.5rem; 
  letter-spacing: -0.20625rem;
  
  }

 

}