:root {
  --font-inter: 'Inter', system-ui, sans-serif;
  --border-radius: 1.5rem;
  
  --Title-height: 1.5rem;
  
  
  --Button-underline-offset: 4px;
  --Typography-Primary: #121212;
  --Typography-Secondary: #FFFFFF;
  --Button-border-size: 1px;
  --Primary-Red: #E51336;
  

  --Background-Dark: #001A52;
  --Background-Light: #FFFFFF;
  --background-MediumLight: #E4E9EB;
  
  
  /* 

  BUTTON STYLING

  */
  
  --Button-State-Focus: #1100FF;
  --Button-State-Disabled: #828282;
  /* 

  FILLED BLACK

  */
  
  --Button-Primary: #001A52;
  --Greyscale-70: #2D2D2D;


   /* 

  FILLED WHITE

  */
  --Button-Secondary: #FFFFFF;
  --Greyscale-10: #E0E0E0;
  
  /* 
  WARNING
  */
  --Button-State-Warning-Default: #D91717;
  --Button-State-Warning-Pressed: #B20000;
  
   /* 
  SUCCESS
  */

  --Button-State-Success-Default: #10BD52;
  --Button-State-Success-Pressed: #11A649;

    /* 
  UNDERLINED WHITE
  */

  
}
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    color: var(--foreground);
    background: grey;
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
 