.footer {
  background-color: var(--Primary-Red);
  display: flex;
  width: 100%;
  height: 34.5rem;
  padding: 1.5rem 1rem;
  padding-top: 0;
  flex-direction: column;
  justify-content: space-between; /* This helps put content at top and bottom */
  align-items: flex-start;
  margin-top: auto;
}

.Nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-height: 100%; 
    margin: auto;
    justify-content: center;
  }

  .NavLinks{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .logoContainer {
    display: inline-block; /* or flex */
    margin-bottom: 2.25rem;
    height: auto;
    align-items: center;
    width: fit-content; /* Container will fit the content inside */
  }
  
  .logoContainer img {
    display: block; /* Removes any extra space around the image */
    width: 80px;
    height: 80px;
    max-width: none; /* Allows image to be its natural size */
    
  }

  .login {
    display: flex;
    margin-top: auto;
  }


  .rightContainer {
    display: flex;
    align-self: flex-start; /* Aligns to the left edge */
    margin-top: auto; /* Pushes the container to the bottom */
    margin: auto;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .rightContainer img {
    width: 100%;
    max-width: 42rem;
    justify-content: center;
   
  }

  .logo {
    display: block; /* Changed from flex */
    height: auto; /* Let height be determined by content */
    width: auto;
  }

  .linkGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; 
    margin-bottom: 2rem;/* Space between links within a group */
  }