:root {
    --Title-height: 1.5rem; 
}

.companyCard {

    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
    background-color: var(--Background-Dark);
    border-radius: 1rem;
    color: var(--background-MediumLight);
    margin-bottom: 1.5rem;
    max-width: 29.5rem;
    
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    
}

.applyWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-bottom: 2rem; */
    width: 100%;
    
  }
  
  .cardText {
    color: var(--Typography-Secondary);
    /* margin-right: 3.62rem; */
  }

  .sectionHeader {
    width: 100%;
    max-width: 18.75rem;
  }
  .sectionText {
    color: var(--Typography-Primary);
  }

  .flexCompaniesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
   
  }

  .sectionTitle {
    
    margin-bottom: 1rem;
}

 

@media (min-width: 768px) {

    .applyWrapper {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8.0625rem;
        align-self: stretch;
        
    }

    .sectionHeader {
       
        width: 100vw;
        margin-bottom: 1rem;
        max-width: 60rem;
        
       

    }

    .sectionTitle {
    
        margin-bottom: 3rem;
    }

    .companyCard {
        width: 26.8125rem;
        height: 34.25rem;
    }

    .flexCompaniesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
       
      }

      .flexCompaniesContainer {
         /* Ändra till space-between istället för end */
        gap: 2rem;
      }
      
      .companyCardFlex {
       
        max-width: 29.5rem; /* Behåll max-bredden från .companyCard */
      }

      .companyCard {
        justify-content: space-between;
      }

    
}

/* Mobil/H3/Regular */
.title {
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 450;
    line-height: var(--Title-height); /* 100% */
}

.titleContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* Height will be determined by its content */
}



.imageContainer {
    width: 1.625rem;
    display: flex;
    align-items: center;
    
}

.imageContainer img {
    height: var(--Title-height); /* Same as title's line-height */
    width: auto;
    object-fit: contain;
}

.text {
    margin-bottom: 2.5rem;
}

